/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.2s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ease 0s;
}

.ex-4-square:hover{
    background: none;
}

/* esercizio 5 */
.container5{
    margin: 20px;
    width: 60px;
    height: 60px;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: height 1s ease,
                width 1s ease;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 10px;
    height: 10px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img{
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(80%) sepia(50%);
}

/* esercizio 8 */
.ex-8-img{
    transition: all 1s;
}

.ex-8-img:hover {
    filter: grayscale(80%) sepia(50%);
    border-radius: 20px;
}

/* esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 1s;
}

.ex-9-img:hover{
    filter: grayscale(80%) sepia(50%);
    border-radius: 20px;
    transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation: rotation 1s linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0%{
        transform: rotate(360deg);
    }
}

/* esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: rotation11 2s linear;
}

@keyframes rotation11 {
    0%{
        transform: rotate(0);
    }

    75%{
        transform: rotate(calc((360deg / 4) * 3));
    }

    100%{
        transform: rotate(0);
    }
}

/* esercizio 12 */
.ex-12-top-white, .ex-12-bottom-white{
    transition: all 1s;
}

.ex-12-button:hover .ex-12-top-white{
    left: 50%;
}

.ex-12-button:hover .ex-12-bottom-white{
    right: 50%;
}

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: rotation13-top 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: rotation13-bottom 2s linear;
}

@keyframes rotation13-top {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 50px);
        top: -10px;
    }
    45% {
        left: calc(100% - 50px);
        top: 100%;
    }
    75% {
        left: -10px;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes rotation13-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 50px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 50px);
        bottom: 100%;
    }
    75% {
        right: -10px;
        bottom: 100%;
    }
    90% {
        right: -10px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
